<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 x-mage2(Yosto). All rights reserved.
 * See README.txt for details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Yosto_ImageProductSlide" setup_version="1.0.2" active="true">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_Widget"/>
            <module name="Magento_Rule"/>
        </sequence>
    </module>
</config>