<?xml version="1.0"?>
<!--
/**
 * BssCommerce
 * AdminPreview
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bss_extensions" translate="label" sortOrder="110">
            <label>Bss Extensions</label>
        </tab>
        <section id="bss_adminpreview" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Admin Preview</label>
            <tab>bss_extensions</tab>
            <resource>Bss_AdminPreview::config_section</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled AdminPreview</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_grid_preview_column" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Grid Preview Button Position</label>
                    <source_model>Bss\AdminPreview\Model\Config\Source\PreviewGridColumnPosition</source_model>
                </field>
                <field id="product_grid_columns" translate="label comment" type="multiselect" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Grid Columns Table</label>
                    <source_model>Bss\AdminPreview\Model\Config\Source\ProductColumns</source_model>
                    <comment>
                        <![CDATA[For Sales Order Grid]]>
                    </comment>
                </field>
                <field id="product_preview_type_link" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Preview Link Type</label>
                    <source_model>Bss\AdminPreview\Model\Config\Source\ProductPreviewType</source_model>
                    <comment>
                        <![CDATA[For Sales Order Grid]]>
                    </comment>
                </field>


                <field id="customer_grid_login_column" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer Grid Login Button Column</label>
                    <source_model>Bss\AdminPreview\Model\Config\Source\PreviewGridColumnPosition</source_model>
                </field>

                
                <field id="disable_page_cache" translate="label comment" type="select" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Disable Page Cache For Admin User</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="backend_edit_links" translate="label comment" type="multiselect" sortOrder="120" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show Edit Link In Frontend For</label>
                    <source_model>Bss\AdminPreview\Model\Config\Source\BackendEditLinks</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
