.yosto-twilio-sms{

}

.yosto-twilio-sms .dashboard-item-title{
    background-color: #41362f;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 600;
}
.yosto-twilio-sms .dashboard-item-title.text-center{
    text-align: center;
}

.yosto-twilio-sms .dashboard-item-title .sms-number{
    color: white;
    padding: 0 8px;
    border-radius: 5px;
    background-color: #D35400;
}
.yosto-twilio-sms .dashboard-item-title .sms-number:hover{
    background-color: #E67E22;
}