<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Magehit_Core::view" title="Magehit Extension" module="Magehit_Core" sortOrder="75" resource="Magehit_Core::core"/>
    </menu>
</config>
