<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Trollweb\Bring\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Trollweb\Bring\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">trollweb-bring-logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="info" xsi:type="object">Trollweb\Bring\Logger\InfoHandler</item>
                <item name="debug" xsi:type="object">Trollweb\Bring\Logger\DebugHandler</item>
            </argument>
        </arguments>
    </type>
</config>
