<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
     <!-- Plugins -->
    <type name="Magento\Catalog\Model\ResourceModel\Product\Option\Value\Collection">
        <plugin name="beforeLoad" type="MageWorx\OptionLink\Plugin\BeforeLoad" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Option\Repository">
        <plugin name="beforeDelete" type="MageWorx\OptionLink\Plugin\BeforeDelete" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Option\Value">
        <plugin name="beforeSaveValues" type="MageWorx\OptionLink\Plugin\BeforeSaveValues" sortOrder="10" disabled="false"/>
    </type>
</config>
