<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Amasty\Checkout\Api\PaymentInformationManagementInterface" type="Amasty\Checkout\Model\PaymentInformationManagement" />
    <preference for="\Amasty\Checkout\Api\GuestPaymentInformationManagementInterface" type="Amasty\Checkout\Model\GuestPaymentInformationManagement" />

    <preference for="\Amasty\Checkout\Api\GiftMessageInformationManagementInterface" type="Amasty\Checkout\Model\GiftMessageInformationManagement" />
    <preference for="\Amasty\Checkout\Api\GuestGiftMessageInformationManagementInterface" type="Amasty\Checkout\Model\GuestGiftMessageInformationManagement" />

    <preference for="\Amasty\Checkout\Api\FeeRepositoryInterface" type="Amasty\Checkout\Model\FeeRepository" />
    <preference for="\Amasty\Checkout\Api\GiftWrapInformationManagementInterface" type="Amasty\Checkout\Model\GiftWrapInformationManagement" />
    <preference for="\Amasty\Checkout\Api\GuestGiftWrapInformationManagementInterface" type="Amasty\Checkout\Model\GuestGiftWrapInformationManagement" />

    <preference for="\Amasty\Checkout\Api\DeliveryInformationManagementInterface" type="Amasty\Checkout\Model\DeliveryInformationManagement" />
    <preference for="\Amasty\Checkout\Api\GuestDeliveryInformationManagementInterface" type="Amasty\Checkout\Model\GuestDeliveryInformationManagement" />

    <preference for="\Amasty\Checkout\Api\ItemManagementInterface" type="Amasty\Checkout\Model\ItemManagement" />
    <preference for="\Amasty\Checkout\Api\GuestItemManagementInterface" type="Amasty\Checkout\Model\GuestItemManagement" />

    <preference for="\Amasty\Checkout\Api\NewsletterManagementInterface" type="Amasty\Checkout\Model\NewsletterManagement" />
    <preference for="\Amasty\Checkout\Api\GuestNewsletterManagementInterface" type="Amasty\Checkout\Model\GuestNewsletterManagement" />

    <type name="Magento\Sales\Block\Items\AbstractItems">
        <plugin name="Amasty_Checkout::OrderInfo" type="Amasty\Checkout\Plugin\Order\Delivery" />
    </type>
</config>
