<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageworx_optionfeatures>
            <main>
                <use_weight>1</use_weight>
                <use_absolute_weight>1</use_absolute_weight>
                <use_cost>1</use_cost>
                <use_absolute_cost>1</use_absolute_cost>
                <use_absolute_price>1</use_absolute_price>
                <use_one_time>1</use_one_time>
                <use_qty_input>0</use_qty_input>
                <use_description>1</use_description>
                <use_option_description>1</use_option_description>
                <base_image_thumbnail_size>35</base_image_thumbnail_size>
                <tooltip_image_thumbnail_size>130</tooltip_image_thumbnail_size>
            </main>
        </mageworx_optionfeatures>
    </default>
</config>