<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageworx_optioninventory>
            <optioninventory_main>
                <display_option_inventory_on_frontend>1</display_option_inventory_on_frontend>
                <display_out_of_stock_message>1</display_out_of_stock_message>
                <disable_out_of_stock_options>1</disable_out_of_stock_options>
            </optioninventory_main>
        </mageworx_optioninventory>
    </default>
</config>