<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="bss_adminpreview_layout_load_before" instance="Bss\AdminPreview\Observer\LayoutLoadBefore" />
    </event>
    <event name="backend_auth_user_login_success">
        <observer name="bss_adminpreview_login_success_observer" instance="Bss\AdminPreview\Observer\AdminLoginSucceeded" />
    </event>
</config>